@model ErrorViewModel
@{
    ViewData["Title"] = @Model.Title + " - " + @Model.AppName;
    ViewData["AppName"] = @Model.AppName;
    ViewData["MenuItems"] = @Model.MenuItems;
}

@if (Model.Code != null && Model.Title== null)
{
    <h1><b>@Model.Code</b></h1>
}
else if (Model.Title != null)
{
    <h1><b>@Model.Code</b> @Model.Title</h1>
}

@if (Model.Description != null)
{
    <h2>@Model.Description</h2>
}
else
{
    <h2>An error occured!</h2>
}

<h3>
<a href="/">Home</a>
</h3>

